<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 80sModelCollector</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>


<body>
<style>
    #basketIcon {
        white-space: nowrap;
    }
</style>
<header>
    <img class="centre" src="/images/Title.jpg" width="1080" height="400" alt="80s Model Collector"/>

    <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Login">Login</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Basket" asp-action="Basket"><div id="ItemsInBasket"></div></a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer text-muted">
    <div class="container">
        &copy; 2022 - 80sModelCollector
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        var $items = $('#ItemsInBasket');
        var options = {
            url: "/Basket/CountBasketItems",
            type: "get",
            async:false
        };

        $.ajax(options).done(function (data) {
            $items.text("Basket: " + data + " Items");
        });
    });
</script>