USE [master]
GO
/****** Object:  Database [CollectorStock]    Script Date: 25/03/2022 21:41:47 ******/
CREATE DATABASE [CollectorStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CollectorStock', FILENAME = N'C:\Users\lh1v20\CollectorStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CollectorStock_log', FILENAME = N'C:\Users\lh1v20\CollectorStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CollectorStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CollectorStock]
GO
USE [CollectorStock]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/03/2022 21:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 25/03/2022 21:41:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[SerialNumber] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NULL,
	[Description] [nvarchar](max) NULL,
	[Picture] [nvarchar](128) NULL,
	[Price] [float] NOT NULL,
	[RemainingStock] [int] NOT NULL,
 CONSTRAINT [SerialNumber_PK] PRIMARY KEY CLUSTERED 
(
	[SerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [Price]
GO
ALTER TABLE [dbo].[Stock] ADD  DEFAULT ((0)) FOR [RemainingStock]
GO
USE [master]
GO
